*,
*::before,
*::after { box-sizing: border-box; }

:root {
    --bg-color: rgb(39, 28, 27);
    --wh-color: rgb(228, 177, 129);
    --wh-txt: rgb(235, 200, 168);
    --pale-wh: rgba(228, 177, 129, 0.2);
    --pale-wh-hi: rgba(228, 177, 129, 0.5);
    --highlight: rgb(228, 177, 129);
}

body {
    background-color: var(--bg-color);
    font-size: 20px;
    height: 100vh;
    margin: 0;
}

body, button, input, select {
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 16px;
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 10px;
    padding: 20px;
}

.control {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    border-radius: 8px;
    border: 1px solid var(--wh-color);
    padding: 10px;
}

.control-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--pale-wh-hi);
    margin-bottom: 10px;
    gap: 10px;
}

.control-button {
    width: 100%;
    padding: 6px 10px;
    background-color: var(--pale-wh);
    color: var(--highlight);
    border: none;
    border-radius: 8px;
}

.control-button:hover {
    background-color: var(--pale-wh-hi);
    color: var(--wh-txt);
}

.control-button:active {
    background-color: var(--wh-color);
    color: var(--bg-color);
}



main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: auto;
}

.top, .mid, .bot {
    flex: 1;
    border-radius: 8px;
    border: 1px solid var(--wh-color);
}